**Import importtant Library to Organizing Dataset**

In [65]:
# i used my custom function to organize dataframe
from Custom_function.split_tab import split_tab

In [1]:
import pandas as pd

**Prepare Tcas61 Dataset**

In [50]:
tcas = pd.read_csv('C:/Users/tarza\OneDrive/Desktop/Sentiment_Analysis/Dataset/tcas61.csv')
tcas.head(5)

                                           sentences
0  มึงกล้าพูดรึป่าวว่าระบบการศึกษามันดีอ่ะ ถุ้ยเฟ...
1  เบื่อเวลามาโพสตไรแบบนี้ชอบเป็นพวกที่ใช่โปรไฟล์...
2  พ่อมึงเป็นติ่งรัฐบาลหรอสัส ที่เรียกเก็บตังแพงม...
3  ใครก็ช่วยลบไอ้นี้ออกจากกลุ่มหน่อยครับ มันมาโพส...
4                             เครียดมากอะตอนนี้\tneg

In [51]:
tcas = split_tab(tcas, 'sentence', 'label', 'sentences')
tcas.head()

                                            sentence label
0  มึงกล้าพูดรึป่าวว่าระบบการศึกษามันดีอ่ะ ถุ้ยเฟ...   neg
1  เบื่อเวลามาโพสตไรแบบนี้ชอบเป็นพวกที่ใช่โปรไฟล์...   neg
2  พ่อมึงเป็นติ่งรัฐบาลหรอสัส ที่เรียกเก็บตังแพงม...   neg
3  ใครก็ช่วยลบไอ้นี้ออกจากกลุ่มหน่อยครับ มันมาโพส...   neg
4                                  เครียดมากอะตอนนี้   neg

In [52]:
tcas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  124 non-null    object
 1   label     124 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [53]:
tcas['label'].value_counts()

label
neg    81
pos    43
Name: count, dtype: int64

---------------------------------------------------------------------------------------------------------------------------------------

**Prepare Review shopping Dataset**

In [54]:
shopping = pd.read_csv('C:/Users/tarza\OneDrive/Desktop/Sentiment_Analysis/Dataset/review_shopping.csv')
shopping.head(5)

                                           sentences
0  เกลียด ชอบหลอกให้สั่งซื้อ ที่ไหนได้ไม่มีสิ้นค้...
1                              สินค้าด้อยคุณภาพ\tneg
2  สินค้าหมดทำไมไม่แจ้งขึ้นว่าหมดอะ.กดใส่ตะกร้าไป...
3           อย่าทำแบบนี้กับใครอีกนะค่ะแย่มากค่ะ\tneg
4  คือเเบบผิดหวังมาก เเย่ที่สุดได้ของมาฝาเเตก เเต...

In [55]:
shopping = split_tab(shopping, 'sentence', 'label', 'sentences')
shopping.head()

                                            sentence label
0    เกลียด ชอบหลอกให้สั่งซื้อ ที่ไหนได้ไม่มีสิ้นค้า   neg
1                                   สินค้าด้อยคุณภาพ   neg
2  สินค้าหมดทำไมไม่แจ้งขึ้นว่าหมดอะ.กดใส่ตะกร้าไป...   neg
3                อย่าทำแบบนี้กับใครอีกนะค่ะแย่มากค่ะ   neg
4  คือเเบบผิดหวังมาก เเย่ที่สุดได้ของมาฝาเเตก เเต...   neg

In [56]:
shopping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  128 non-null    object
 1   label     128 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [57]:
shopping['label'].value_counts()

label
neg    68
pos    60
Name: count, dtype: int64

---------------------------------------------------------------------------------------------------------------------------------------

**Prepare general-amy Dataset**

In [58]:
general = pd.read_csv('C:/Users/tarza\OneDrive/Desktop/Sentiment_Analysis/Dataset/general-amy.csv')
general.head(5)

                                   sentences
0  อ้าว อยากมีเรื่องหรอวะ ไอ้หัวเกรียน!\tneg
1                       ขอโทษที่รบกวนคะ\tpos
2                         รักเธอนะ คนดี\tpos
3             เหี้ย สัตว์มึงอย่าเสือกดิ\tneg
4        ไอ้คนทรยศ แกอย่าหวังว่าจะตายดี\tneg

In [59]:
general = split_tab(general, 'sentence', 'label', 'sentences')
general.head(5)

                               sentence label
0  อ้าว อยากมีเรื่องหรอวะ ไอ้หัวเกรียน!   neg
1                       ขอโทษที่รบกวนคะ   pos
2                         รักเธอนะ คนดี   pos
3             เหี้ย สัตว์มึงอย่าเสือกดิ   neg
4        ไอ้คนทรยศ แกอย่าหวังว่าจะตายดี   neg

In [60]:
general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  90 non-null     object
 1   label     90 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [61]:
general['label'].value_counts()

label
neg    45
pos    45
Name: count, dtype: int64

---------------------------------------------------------------------------------------------------------------------------------------

*End of Preparation*